* {
  font-family: Arial, Helvetica, sans-serif;
  color: #F9FAF8;
}

body {
  padding: 0;
  margin: 0;
}

/******************************************/

#header {
  display: flex;
  background-color: #1F2937;
  padding: 20px 0 150px 0;
}

#header_logo {
  flex: 1;
  margin-left: 270px;
  font-size: 24px;
  font-weight: bold;
}

#link_container {
  margin-right: 280px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

#link_container a {
  color: #E5E7EB;
  font-size: 20px;
  margin-left: 50px;
  text-decoration-line: none;
}

/******************************************/

#first_main {
  background-color: #1F2937;
  display: flex;
  padding-bottom: 150px;
  justify-content: center;
}

#first_main_left {
  flex: 1;
  padding-left: 250px;

}

#first_main h1 {
  font-size: 48px;
  font-weight: 1000;
}

#first_main p {
  font-size: 18px;
  color: #E5E7EB;
}

#first_main button {
  background-color: #3882F6;
  border-radius: 15%;
  font-size: 20px;
  padding: 10px 30px;
  border-color: #1F2937;
}

#first_main_right {
  flex: 1;
  padding-left: 100px;
}

#first_main img {
  height: 300px;
  flex: 5;
}


/******************************************/

#above_images {
  font-weight: bold;
  font-size: 50px;
}

#image_container {
  display: inline;
  align-items: center;
  justify-content: center;
}

.image_item {
  height: 250px;
  width: auto;
}